# Android
.gradle/
**/build/
local.properties
keystore.properties
*.jks
*.keystore

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Misc
captures/
.externalNativeBuild/
.cxx/
.DS_Store
**/.DS_Store
